# Firebase App configuration
# Get these from your Firebase project settings
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDZuQhZ6j7uZ7NotJVRkjlTXnSBkgBP7TU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="studio-7784532433-72b62.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="studio-7784532433-72b62"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="studio-7784532433-72b62.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="10796431370"
NEXT_PUBLIC_FIREBASE_APP_ID="1:10796431370:web:0154d88984000d630287f3"
